<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Bookinformation</display-name>
    <servlet-name>Bookinformation</servlet-name>
    <servlet-class>kaniraj.Bookinformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookinformation</servlet-name>
    <url-pattern>/Bookinformation</url-pattern>
  </servlet-mapping>
  <display-name>Library</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>student.html</welcome-file>
    <welcome-file>student.jsp</welcome-file>
    <welcome-file>staff.html</welcome-file>
    <welcome-file>allstaff.jsp</welcome-file>
    <welcome-file>Delete.jsp</welcome-file>
    <welcome-file>allbooks.jsp</welcome-file>
    <welcome-file>viewStudents.jsp</welcome-file>
    <welcome-file>studelete.jsp</welcome-file>
    <welcome-file>admin.html</welcome-file>
    <welcome-file>editstaffpage.jsp</welcome-file>
    <welcome-file>adddata.jsp</welcome-file>
    <welcome-file>editstudentpage.jsp</welcome-file>
    <welcome-file>adddatastudent.jsp</welcome-file>
    <welcome-file>SearchBook.jsp</welcome-file>
    <welcome-file>sallbooks.jsp</welcome-file>
    <welcome-file>buybook.jsp</welcome-file>
    <welcome-file>returnbook.jsp</welcome-file>
    <welcome-file>buybookdetails.jsp</welcome-file>
    <welcome-file>returnbookdetails.jsp</welcome-file>
    <welcome-file>Authentication.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>

  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>kaniraj.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Staff</display-name>
    <servlet-name>Staff</servlet-name>
    <servlet-class>kaniraj.Staff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Staff</servlet-name>
    <url-pattern>/Staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adddataservlet</display-name>
    <servlet-name>adddataservlet</servlet-name>
    <servlet-class>kaniraj.adddataservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adddataservlet</servlet-name>
    <url-pattern>/adddataservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteorupdate</display-name>
    <servlet-name>deleteorupdate</servlet-name>
    <servlet-class>kaniraj.deleteorupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteorupdate</servlet-name>
    <url-pattern>/deleteorupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatestaff</display-name>
    <servlet-name>updatestaff</servlet-name>
    <servlet-class>kaniraj.updatestaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestaff</servlet-name>
    <url-pattern>/updatestaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adddatastudentservlet</display-name>
    <servlet-name>adddatastudentservlet</servlet-name>
    <servlet-class>kaniraj.adddatastudentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adddatastudentservlet</servlet-name>
    <url-pattern>/adddatastudentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studelorupdate</display-name>
    <servlet-name>studelorupdate</servlet-name>
    <servlet-class>kaniraj.studelorupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studelorupdate</servlet-name>
    <url-pattern>/studelorupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatestudent</display-name>
    <servlet-name>updatestudent</servlet-name>
    <servlet-class>kaniraj.updatestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestudent</servlet-name>
    <url-pattern>/updatestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buybookadd</display-name>
    <servlet-name>buybookadd</servlet-name>
    <servlet-class>kaniraj.buybookadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buybookadd</servlet-name>
    <url-pattern>/buybookadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>returnbookadd</display-name>
    <servlet-name>returnbookadd</servlet-name>
    <servlet-class>kaniraj.returnbookadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>returnbookadd</servlet-name>
    <url-pattern>/returnbookadd</url-pattern>
  </servlet-mapping>
</web-app>